@import "tailwindcss";

@theme {
  --color-brand-bg: #0A0A0A;
  --color-brand-text: #F4F4F0;
  --color-brand-accent: #D9480F;
  --color-brand-muted: #404040;
  --font-space: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-inter: "Inter", sans-serif;
}
